<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionapp2285.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/85b67caf-053a-40d0-a623-455c703a5df9/resourceGroups/AffluentNorthEurope/providers/Microsoft.Web/sites/AzureFunctionApp2285</ResourceId>
    <UserName>$AzureFunctionApp2285</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azurefunctionapp2285.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>